h3 {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;

}
.myPosts{
    padding: 10px
}
.postCreation {
    display: flex;
    flex-direction: column;

}
.postCreation textarea {
    margin: 0 auto;
    width:40%;
    height: 4em;
}
.postCreation  button{
    width: 80px;
    right:20px;
}
