
.postCreation {
    display: flex;
    flex-direction: column;

}
.postCreation textarea {
    margin: 0 auto;
    width:40%;
    height: 4em;
}
.postCreation  button{
    width: 80px;
    right:20px;
}
