.nav{
    grid-area: nav;
    background-color: azure;
    height: 100%;

}
.item {
    text-decoration: none;
    color: rgb(24 24 27);
}

.nav ul li{
    list-style: none;
    margin:15px
}
.nav > a:hover {
    color:rgb(30 58 138)
}
.nav h3 {
    margin-top: 100px
}
.active {

    text-decoration: underline;
}

.sidebarFriends {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.sidebarFriends img {
    width: 50px;
    border-radius: 25px;


}

.sbFriend {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
}